@tailwind base;
@tailwind components;
@tailwind utilities;

body{

  background: linear-gradient(rgba(163, 161, 161, 0.2),rgba(0,0,0,0.2)),url("/—Pngtree—winter white snow mountain background_2148994.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: center;

  }
 
  /* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #252424; /* Background of the scrollbar track */
  border-radius: 4px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #333333; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
  border: 2px solid #1a1a1a; /* Space around the thumb */
}






